updates:
  - file: "stable/ingress-node-firewall.clusterserviceversion.yaml" # relative to this file
    update_list:
    # replace metadata.name value
    - search: "ingress-node-firewall.v{MAJOR}.{MINOR}.0"
      replace: "ingress-node-firewall.v{FULL_VER}"
    - search: "version: {MAJOR}.{MINOR}.0"
      replace: "version: {FULL_VER}"
    - search: "olm.skipRange: '>=4.15.0-0 <{MAJOR}.{MINOR}.0'"
      replace: "olm.skipRange: '>=4.15.0-0 <{FULL_VER}'"
  - file: "ingress-node-firewall.package.yaml"
    update_list:
    - search: "currentCSV: ingress-node-firewall.v{MAJOR}.{MINOR}.0"
      replace: "currentCSV: ingress-node-firewall.{FULL_VER}"

