# needed a patch because manifests.yaml gets overwritten by kustomize
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
  annotations:
    # functionality only works on openshift
    service.beta.openshift.io/inject-cabundle: "true"
---
apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: system
  annotations:
    # functionality only works on openshift
    service.alpha.openshift.io/serving-cert-secret-name: webhook-server-cert
---
apiVersion: v1
kind: Service
metadata:
  name: controller-manager-metrics
  namespace: system
  annotations:
    # functionality only works on openshift
    service.beta.openshift.io/serving-cert-secret-name: ingress-node-firewall-controller-manager-metrics-certs
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: daemon
  name: daemon-metrics
  namespace: system
  annotations:
    # functionality only works on openshift
    service.beta.openshift.io/serving-cert-secret-name: ingress-node-firewall-daemon-metrics-certs

