apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ingress-node-firewall-daemon
  namespace: '{{.NameSpace}}'
spec:
  selector:
    matchLabels:
      app: ingress-node-firewall-daemon
    updateStrategy:
      type: RollingUpdate
  template:
    metadata:
      labels:
        app: ingress-node-firewall-daemon
        component: daemon
        type: infra
    spec:
      hostNetwork: true
      hostPID: true
      nodeSelector:
        kubernetes.io/os: linux
      priorityClassName: "system-node-critical"
      containers:
        - name: daemon
          image: '{{.Image}}'
          command: ['/bin/sh', '-c', 'mount bpffs /sys/fs/bpf -t bpf && /usr/bin/daemon']
          #- command: ['/bin/sh', '-c', 'mount bpffs /sys/fs/bpf -t bpf && strace -fe trace=bpf /usr/bin/daemon']
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: EVENT_LOGGING_FILE
              value: "/tmp/ingress_node_firewall_events.log"
          securityContext:
            privileged: true
            runAsUser: 0
            capabilities:
              add:
                - CAP_BPF
                - CAP_NET_ADMIN
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - name: bpf-maps
              mountPath: /sys/fs/bpf
              mountPropagation: Bidirectional
      volumes:
        - name: bpf-maps
          hostPath:
            path: /sys/fs/bpf
            type: DirectoryOrCreate
      serviceAccountName: ingress-node-firewall-daemon
