apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ingress-node-firewall-daemon
  namespace: '{{.NameSpace}}'
spec:
  selector:
    matchLabels:
      app: ingress-node-firewall-daemon
    updateStrategy:
      type: RollingUpdate
  template:
    metadata:
      labels:
        app: ingress-node-firewall-daemon
        component: network
        type: infra
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      priorityClassName: "system-node-critical"
      containers:
        - command: ['/bin/sh', '-c', 'mount bpffs /sys/fs/bpf -t bpf && daemon']
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          image: '{{.Image}}'
          name: daemon
          securityContext:
            privileged: true
            runAsUser: 0
            capabilities:
              add:
                - CAP_BPF
                - CAP_NET_ADMIN
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - name: bpf-maps
              mountPath: /sys/fs/bpf
              mountPropagation: Bidirectional
      volumes:
        - name: bpf-maps
          hostPath:
            path: /sys/fs/bpf
            type: DirectoryOrCreate
