apiVersion: v1
kind: Namespace
metadata:
  name: ingress-node-firewall-system
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ingress-node-firewall
  namespace: ingress-node-firewall-system
spec:
  displayName: Ingress Node Firewall Index
  image: quay.io/openshift/ingress-nodefw/ingress-node-firewall-index:v4.15.0
  publisher: github.com/openshift/ingress-node-firewall
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ingress-node-firewall
  namespace: ingress-node-firewall-system
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ingress-node-firewall-sub
  namespace: ingress-node-firewall-system
spec:
  name: ingress-node-firewall
  channel: alpha
  source: ingress-node-firewall
  sourceNamespace: ingress-node-firewall-system
